@font-face {
	font-family: "SourceHanSerifTC";
	src:url("https://acertainpersons.github.io/Content/fonts/SourceHanSerifTC-SemiBold.otf") format("opentype"),  url("https://acertainpersons.github.io/Content/fonts/SourceHanSerifTC-SemiBold.woff") format("woff");
  }   

@font-face {
	font-family: "cwTeXKai";
	src: url("https://acertainpersons.github.io/Content/fonts/cwTeXKai-zhonly.woff") format("woff");
  } 

body{
	height: 100%;
    margin: 0;
	font-family: "oxygen", sans-serif;
	background:#1e1e2e;
	}

.header,.headerzh, .bodybody, .bodybodyzh{
	margin: 0;
	padding:75px 30px 50px 30px;
	}

.header, .headerzh{
    background: #585b70;
    padding-bottom: 10px;
    padding-top: 20px;
	
    }

.header h1{
	font-family: 'Times New Roman', Times, serif;
	}	

.headerzh h1{
	font-family: 'SourceHanSerifTC', serif;
	}	

/* Desktop*/
@media screen and (min-width: 800px) {
.headerzh{
	font-family: Noto Sans Traditional Chinese, sans-serif;
	padding: 0;
	padding-top:30px;
	font-size: 30px;
	writing-mode: vertical-rl;
	position: fixed;
	right: 0;
	height: 100%;
	}

.bodybodyzh{
	margin: 0;
	writing-mode: vertical-rl;
	font-weight: 300;
	font-family: Noto Sans Traditional Chinese, sans-serif;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: normal;
    width: 90%;
	height: calc(100% - 125px);
	float: right;
	}

.header{
	font-size: 25px;
	}
}

.bodybody, .bodybodyzh{
	padding-left: 5%;
	padding-right: 5%;
    }

.header a, .headerzh a{
    color:#a6e3a1;
	text-decoration: none;
    }

h2	{
	color:#cdd6f4;
	font-size: 32px;
	}

@media screen and (min-width: 800px) {
.bodybodyzh	h2 {
	margin-right: 600px;
	}
}

.bodybody p	{
	color:#cdd6f4;
	font-size:16px;
	}

@media screen and (min-width: 800px) {
.bodybodyzh p{
	color:#cdd6f4;
	font-size: 18px;
	line-height: 30px;
	}
}

@media screen and (max-width: 800px) {
.bodybodyzh p{
	color:#cdd6f4;
	font-size: 15px;
	line-height: 30px;
	}
}

p.about {
	color:#ff0;   
	}
	
a	{
	color:#89b4fa;  
	}

ol li	{
	line-height: 1.25;
	color:#bac2de;
	font-size: 16px;
	}

.bodybody ol li {
	font-size:16px;
	}

@media screen and (max-width: 800px) {
.bodybodyzh ol li{
	font-size: 15px;
	}
}

@media screen and (min-width: 800px) {
.bodybodyzh ol li {
	font-size:18px;
	}
}	
.navbar ul	{
	list-style:none;
	padding:0px;
	}

/* navbar*/	
.navbar ul li{
	display:inline;
	padding-right:10px;
	font-size:20px;
    color:#bac2de;
	}
	
.navbar ul a{
	color:#cdd6f4;
	}
	
.navbar ul a:hover {
	color:white;
	text-decoration:underline;
	}
/*navbar end*/

.license    {
	padding-top: 200px;
	padding-bottom: 20px;
    }

@media only screen and (min-width: 800px) {
.licensezh    {
	padding-left: 150px;
    padding-right: 200px;
	padding-bottom: 20px;
    }
}

@media only screen and (max-width: 800px) {
.licensezh{
	padding-left: 0;
	padding-top: 200px;
	padding-bottom: 20px;
	}
}

.bodybodyzh h3{
	font-family: "cwTeXKai", cursive;
	}

.bodybody h3{
    font-family: "Permanent Marker";
	font-size: 250px;
    }

@media only screen and (max-width: 1432px) {
.bodybody h3, .bodybodyzh h3{
	font-size: 50px;
    }
}

@media only screen and (min-width: 1432px) {
.bodybodyzh h3  {
	font-size: 250px;
    }	
}

.testimg{
	margin-top: 200px;
	text-align: center;
	}

.languageszh{
	writing-mode: vertical-rl;
	padding-top: 0;
	padding-left: 0;
	width: 50px;
	height: 100%;
	position: fixed;
	left: 0;
	background: rgb(88, 91, 112); /* If no RGBA */
    background: rgb(88, 91, 112, 0.5);
	}

@media only screen and (max-width:800px) {
.languageszh{
	writing-mode: horizontal-tb;
	padding-top: 0;
	padding-left: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: rgb(88, 91, 112); /* If no RGBA */
    background: rgb(88, 91, 112, 0.5);
	}
}

.languages{
	padding-top: 0;
	padding-left: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: rgb(88, 91, 112); /* If no RGBA */
    background: rgb(88, 91, 112, 0.5);
	}

.languages ul li{
	display:inline;
	padding-right:10px;
	font-size:13px;
    color:#bac2de;
	}

.languageszh ul li {
	padding-bottom:10px;
	display:inline;
	font-size:13px;
    color:#bac2de;
	}
	
.languages ul a,
.languageszh ul a{
	color:#89b4fa;
	}

dl dt	{
	color:#bac2de;
	font-size:16px;
	}

dl dd	{
	color:#bac2de;
	font-size: 8vh;
	}

@media only screen and (min-width: 1432px) {
.button, .buttonen	{
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
	float:center;
	}
}

@media only screen and (max-width: 1432px) {
.button, .buttonen	{
	text-align: center;
	margin-right: 100px;
	margin-left: 0;
	float: left;
	}
}
	
@media only screen and (max-width: 1432px) and (min-width: 800px){
	.button	{
		margin-bottom: 65vh;
	}
}
.buttonul a {
	color:#36f;
	}
	
.button ul a:hover , .buttonen ul a:hover{
	color:white;
	text-decoration:underline;
	}

h3	{
	margin: 0px;
	}

h4	{
	font-size: 24px;
	color:#cdd6f4;
	}
	
.stats	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	}

.pins
	{
	margin-right: 5vw;
	margin-bottom: 5vh;
	max-width: 90vw;
	}

/*-----------------------------*/
/*           BUTTONS           */
/*-----------------------------*/

.btn:link,
.btn:visited	{
	display: inline-block;
	padding: 10px 50px;
	font-weight: bold;
	text-decoration:none;
	border-radius:200px;
	transition: background-color 0.5s, border 0.5s, color 0.5s;
	}
	
.btn-full:link,
.btn-full:visited {
	border: 1px solid #fe640b;
	background-color: #fe640b;
	color: #fff;
	margin-right: 15px;
	}

.btn:hover,
.btn:active {
	background-color: #ed530a;
	border: 1px solid #ed530a;;
	}
/*end*/